@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully!</h1>
        Your Order Number is :@Model <br /><br />
        <img src="~/lawn_leaf.jpg" width="65%" />
        
     </div>
    <div class="col-2 text-center " style="color:maroon">
        <br />
        Your order has been successfull! <br />
    </div>

</div>

